.env
mcp_remote/mcp_remote
mcp_remote/services/orderdesk/orderdesk
mcp_remote/services/userhook/userhook
mcp_code/mcp_code
mcp_code/services/orderdesk/orderdesk
mcp_code/services/userhook/userhook
.bin/
