ALIBABA_CLOUD_UID=
ALIBABA_CLOUD_ACCESS_KEY_ID=
ALIBABA_CLOUD_ACCESS_KEY_SECRET=
AGENTRUN_CONTROL_ENDPOINT=agentrun.cn-hangzhou.aliyuncs.com
AGENTRUN_DATA_ENDPOINT=<ALIBABA_CLOUD_UID>.agentrun-data.cn-hangzhou.aliyuncs.com
